.filter-drawer {
    height: calc(100vh - 3rem);
    width: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: #dcdcdc;
    transition: width 0.1s ease-in-out, padding 0.1s ease-in-out;
}

.filter-drawer.open {
    width: 25vw;
    padding: 0.5rem;
}

.filter-container {
    border-bottom: 1px solid #b6b6b6;
    padding: 0.5rem;
}