.error-box {
    width: 30%;
    background-color: var(--bg);
    border-radius: 16px;
    text-align: center;
    align-items: center;
    padding: 1.5em 0;
}

.error-icon {
    color: var(--error);
}