.product-page {
    display: flex;
}

.list-box {
    height: calc(100vh - 3rem);
    flex-grow: 1;
    overflow-y: auto;
    transition: width 0.1s ease-in-out;
}

.list-box.open {
    max-width: 75vw;
}