.app-btn {
    border: 1px solid var(--border);
    background: var(--float-bg);
    color: #383838;
    font-weight: 14px;
    font-weight: 600;
    cursor: pointer;
}

.app-btn.all-round {
    border-radius: 8px;
}

.app-btn.left-round {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.app-btn.right-round {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.app-btn.large {
    padding: 12px 20px;
}

.app-btn.small {
    padding: 6px 10px;
}

.app-btn.disabled {
    opacity: 0.5;
    cursor: default;
}

.app-btn.full-width {
    width: 100%;
}

.app-btn.error-btn {
    border-color: var(--error);
    color: var(--error);
}

.app-btn.primary-btn {
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
}