.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-box {
    width: 15%;
    background-color: #ffffff;
    border-radius: 16px;
    text-align: center;
    align-items: center;
    padding: 1.5em 0 0;
}