.filter-container {
    border-bottom: 1px solid var(--divider);
    padding: 0.5rem;
}

.type-heading {
    margin: 0 0 0.5rem;
}

.head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.5rem;
}

.head-box > h4 {
    margin: 0;
}

.head-box > em {
    font-size: 12px;
}

.check-item {
    display: flex;
    gap: 0.5rem;
}

.check-item > label {
    font-size: 14px;
}