.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.page-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}